@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .hero {
    padding: 188px 0;
  }

  .header-list {
    margin-right: 0;
  }

  .adress-list {
    display: flex;
    margin-left: auto;
  }

  .adress-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-mail,
  .header-tel {
    font-size: 16px;
  }

  .header > .container {
    display: block;
  }

  .overlay {
    max-width: 1440px;
    height: 600px;
    background-image: var(--l-grad), url(../images/People-office-bg-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: var(--l-grad),
        url(../images/People-office-bg-desktop-2x.jpg);
    }
  }

  .features-item::before {
    display: block;
    content: '';
    height: 112px;
    margin-bottom: 8px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--footer-studio-text-color);
    border-radius: 4px;
  }

  .features-item:not(:last-child) {
    margin-right: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  .features-item:nth-child(2n) {
    margin-right: 24px;
  }

  .features-item:nth-child(4n) {
    margin-right: 0;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    text-align: left;
  }

  .doing {
    display: block;
    padding-bottom: 120px;
  }

  .doing-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .doing-list {
    display: flex;
    flex-wrap: wrap;
  }

  .doing-item {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
  }

  .doing-item:nth-child(3n) {
    margin-right: 0;
  }

  .team > .container {
    max-width: 1158px;
  }

  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    row-gap: 0;
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  .team-item:nth-child(2n) {
    margin-right: 24px;
  }

  .team-item:nth-child(4n) {
    margin-right: 0;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer .container {
    flex-direction: row;
    padding-left: 0;
    gap: 80px;
  }

  .tablet-cont {
    gap: 120px;
  }
}
