@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }

  .hero-title {
    font-size: 36px;
    width: 320px;
  }

  .team > .container {
    max-width: 294px;
  }

  .features-item::before {
    display: none;
  }
}
